<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <!-- Campo de Email -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      {{ getErrorMessage('email') }}
    </ion-text>

    <!-- Campo de Contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      {{ getErrorMessage('password') }}
    </ion-text>

    <!-- Botón de Iniciar Sesión -->
    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">
      Iniciar Sesión
    </ion-button>
  </form>

  <!-- Enlace a la página de registro -->
  <div class="register-link">
    <p>¿No tienes cuenta?</p>
    <ion-button fill="clear" (click)="router.navigate(['/register'])">Registrarse</ion-button>
  </div>
</ion-content>
